<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/all.css' />
    <link rel='stylesheet' href='/js/modules/bootstrap-5.2.2-dist/css/bootstrap.css' />
    <script src='/js/modules/jquery-3.6.1.min.js'></script>
    <script src='/js/modules/bootstrap-5.2.2-dist/js/bootstrap.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js'></script>
    <title>MiddleService</title>
</head>

<body>
    <div id="container">
        <div id="header">
            {{#if navbar}}
            {{> navbar}}
            {{else}}
            {{/if}}
        </div>
        <div id="content">
            {{{ body }}}
        </div>
        <div id="footer">

        </div>
    </div>
</body>

</html>