<script src='/js/column.js'></script>
<script src='/js/jsScript.js'></script>
<link rel='stylesheet' href='/js/modules/dataTables/datatables.css' />
<link rel='stylesheet' href='/js/modules/dataTables/Buttons-2.3.3/css/buttons.dataTables.min.css' />
<link rel='stylesheet' href='/js/modules/dataTables/DataTables-1.13.1/css/dataTables.bootstrap5.min.css' />
<script src='/js/modules/dataTables/datatables.js'></script>
<script src='/js/modules/dataTables/JSZip-2.5.0/jszip.min.js'></script>
<script src='/js/modules/dataTables/Buttons-2.3.3/js/dataTables.buttons.min.js'></script>
<script src='/js/modules/dataTables/Buttons-2.3.3/js/buttons.html5.min.js'></script>
<div class='m-4'>
  <h1>JS腳本</h1>
  <div class='card'>
    <div class='card-body'>
      <div class='d-flex'>
        <button type='button' id='add' class='btn btn-outline-primary' data-bs-toggle='modal'
          data-bs-target='#scriptModal' data-bs-title='新增' data-bs-whatever='new'>新增</button>
        <button type='button' id='edit' class='btn btn-outline-primary' data-bs-toggle='modal'
          data-bs-target='#scriptModal' data-bs-title='修改' data-bs-whatever='edit'>修改</button>
        <button type='button' id='clone' class='btn btn-outline-primary' data-bs-toggle='modal'
          data-bs-target='#scriptModal' data-bs-title='克隆' data-bs-whatever='clone'>克隆</button>
        <button type='button' id='delete' class='btn btn-outline-primary' data-bs-toggle='modal'
          data-bs-target='#deleteModal' data-bs-title='刪除'>刪除</button>
        <button type='button' id='exportBtn' class='btn btn-outline-primary' onclick="exportExcel()">匯出</button>
      </div>
      <div class='searchBox w-100'>
        <input id='searchFilter' placeholder='Search' class='searchFilter' />
      </div>
      <table id='script' class='display' style='width: 100%'>
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
<div class='modal fade' id='scriptModal' tabindex='-1' aria-labelledby='scriptModalLabel' aria-hidden='true'
  data-bs-backdrop='static'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5 fw-bolder' id='scriptModalLabel'>表單</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close' onclick='init()'></button>
      </div>
      <div class='modal-body' id='modalBody'>
        <form>
          <div class='d-flex mb-3 row'>
            <div class='col-6'>
              <label for='scriptName' class='col-form-label fw-bolder'>腳本名稱:</label>
              <input type='text' class='form-control' id='scriptName' aria-describedby='inputGroupPrepend' required />
              <div class='invalid-feedback'>
                不可為空
              </div>
            </div>
            <div class='mb-3'>
              <label for='scriptPackage' class='col-form-label fw-bolder'>腳本相依套件:JSON</label>
              <textarea class='form-control' id='scriptPackage' placeholder='Text Area' required></textarea>
              <div class='invalid-feedback'>
                尚未選擇
              </div>
            </div>
          </div>
          <div class='mb-3'>
            <label for='scriptContent' class='col-form-label fw-bolder'>腳本內容:JavaScript程式碼</label>
            <textarea class='form-control' id='scriptContent' placeholder='Text Area' required></textarea>
            <div class='invalid-feedback'>
              不可為空
            </div>
          </div>
        </form>
      </div>
      <div class='modal-footer'>
        <button id='saveBtn' onclick='save()' type='button' class='btn btn-primary'>儲存</button>
      </div>
    </div>
  </div>
</div>
<div class='modal fade' id='deleteModal' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'
  data-bs-backdrop='static'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5 fw-bolder' id='deleteModalLabel'>刪除表單</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close' onclick='initDel()'></button>
      </div>
      <div class='modal-body'>
        <form>
          <div class='d-flex mb-3 row'>
            <div class='col-6'>
              <label for='scriptIdDel' class='col-form-label fw-bolder'>腳本ID:</label>
              <input type='text' class='form-control' id='scriptIdDel' aria-describedby='inputGroupPrepend' disabled />
            </div>
            <div class='col-6'>
              <label for='scriptNameDel' class='col-form-label fw-bolder'>腳本名稱:</label>
              <input type='text' class='form-control' id='scriptNameDel' aria-describedby='inputGroupPrepend'
                disabled />
            </div>
          </div>
        </form>
      </div>
      <div class='modal-footer'>
        <button id='deleteBtn' onclick='del()' type='button' class='btn btn-danger'>確認後刪除</button>
      </div>
    </div>
  </div>
</div>